<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <h1>Blog Articles</h1>
    <a href="/articles/new">New Articles</a>

    <div>
      <% articles.map(article =>{ %>
      <div>
        <h2><%= article.title %></h2>
        <div><%= formattedDate(article.createdAt) %></div>
        <p><%= article.description %></p>

        <button>
          <a href="/articles/<%= article.slug%>">Read More</a>
        </button>

        <form action="/articles/<%=article._id%>?_method=DELETE" method="post">
          <button type="submit">Delete</button>
        </form>

        <form
          action="/articles/edit/<%=article._id%>?_method=GET"
          method="post"
        >
          <button type="submit">Edit</button>
        </form>
      </div>

      <% })%>
    </div>
  </body>
</html>
